* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FADADD;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.calculadora {
    background-color: #E8DDF5;
    padding: 35px;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
    max-width: 600px;
    width: 100%;
}

h2 {
    font-size: 28px;
    color: #02070d;
    margin-bottom: 30px;
    text-align: center;
    font-family: Georgia, serif;
}
.grupo-formulario {
    margin-bottom: 20px;
}

.margen-resultado {
    margin-top: 25px;
}

label {
    display: block;
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    color: #020407;
}

input {
    width: 100%;
    padding: 13px;
    border: 2px solid #9BB7D4;
    border-radius: 12px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background-color: #fdfdfd;
    transition: 0.3s;
}

input:focus {
    border-color: #9BB7D4;
    outline: none;
    box-shadow: 0 0 0 3px rgba(155, 183, 212, 0.25);
}
input:read-only {
    background-color: #f7f6f6;
    cursor: not-allowed;
}

.boton-verificar {
    width: 100%;
    background-color: #9BB7D4;
    color: white;
    border: none;
    padding: 14px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
}

.boton-verificar:hover {
    background-color: #c098ed;
    color: #f8f9fa;
    transform: translateY(-2px);
}
.boton-verificar:active {
    transform: translateY(0);
}
.mensaje-error {
    color: #e167f9;
    font-size: 13px;
    margin-top: 7px;
    display: none;
}
#resultado {
    background-color: #f2efef;
    text-align: center;
    font-weight: 600;
    color: #01060b;
}