*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: sans-serif;
    background-color: #f6f8f0;
    color: black;
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    padding: 20px;
   
}
.calculadora{
    background: #f3adb4;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    max-width: 600px;
    width: 100%;
}
h2{
    font-size: 22px;
    color:black;
    margin-bottom:20px;
    text-align: center;
    font-family: Georgia;
}
.grupo-formulario{
    margin-bottom: 18px;
}
.margen-resultado{
    margin-top: 18px;
    
}
label{
    display:block;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
}
input{

    width: 100%;
    padding: 12px;
    border: 1px solid #f77604;
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s;
}
input :read-only{
    background-color: #e9ecef;
    cursor:not-allowed;
}
input:focus {
    border-color:red;
    outline: none;
    box-shadow: 0 0 0 3px rgba(240, 114, 76, 0.84);
}
.boton-convertir{
    width: 100%;
    background-color: #f3ddb3;
    color:black;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 5px;
}
.boton-convertir:hover{
    background-color: #f99b98;
    color: white;
}
.mensaje-error{
    color: #d90429;
    font-size: 13px;
    margin-top: 6px;
    display: none;
}